<!-- This component uses the input from the user to render the results on the screen.
Perhaps not the best implementation as there is a lot of repetitive code. Also this 
implementation only works if the whole dataset is available to the frontend. A better
implementation would be if for both search/filtering methods the application would make
requests to the backend. But this works, probably also for bigger datasets and it is very fast.
The implementation details are explained in the app.component file. -->


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Category</th>
        </tr>
    </thead>
    <ng-container [ngSwitch]= "viewMode" >
        <tbody  *ngSwitchCase= "'full'">
            <tr  *ngFor="let p of movies ">
                <td>{{ p.title }}</td>
                <td>{{ p.year }}</td>
                <td>{{ p.rating }}</td>
                <td>{{ categories[p.categoryId] }}</td>
            </tr>
        </tbody>
        <tbody *ngSwitchCase= "'searchBar'">
                <tr  *ngFor="let p of movies ">
                    <td [hidden]="!p.title.toLowerCase().includes(search.toLowerCase())">{{ p.title }}</td>
                    <td [hidden]="!p.title.toLowerCase().includes(search.toLowerCase())">{{ p.year }}</td>
                    <td [hidden]="!p.title.toLowerCase().includes(search.toLowerCase())">{{ p.rating }}</td>
                    <td [hidden]="!p.title.toLowerCase().includes(search.toLowerCase())">{{ categories[p.categoryId] }}</td> 
            </tr>
        </tbody>
        <tbody *ngSwitchCase= "'checkBox'">
                <tr  *ngFor="let p of movies ">
                    <td [hidden]="!boxesClicked.includes(p.categoryId)">{{ p.title }}</td>
                    <td [hidden]="!boxesClicked.includes(p.categoryId)">{{ p.year }}</td>
                    <td [hidden]="!boxesClicked.includes(p.categoryId)">{{ p.rating }}</td>
                    <td [hidden]="!boxesClicked.includes(p.categoryId)">{{ categories[p.categoryId] }}</td> 
            </tr>
        </tbody>
    </ng-container>
</table>