<!-- This markup renders the components for searching and filtering the desided results.
Ideally I would have liked to make the checkboxes separate components, because the input 
for them should come from the backend (how many, the names ect). I did not find a satisfying
implementation for this with the time given. The checkbox components are taken from Angular material 
documentation. -->


<h1>Welcome to FilmViewer</h1>  
  <div class="form-group">
    <input [(ngModel)]="searchName" (keyup)="onKeyPressed()" class="form-control" id="Searchbar" placeholder="e.g Silence of the Lambs"/>
  </div>
  <section class="example-section">
    <mat-checkbox class ="example-margin" (change)="onChecking(1)" id="Movie1" >
          {{categories[1]}}
    </mat-checkbox>
    <mat-checkbox class ="example-margin" (change)="onChecking(2)" id="Movie2" >
        {{categories[2]}}
    </mat-checkbox>
    <mat-checkbox class ="example-margin" (change)="onChecking(3)" id="Movie3" >
      {{categories[3]}}
    </mat-checkbox>
    <mat-checkbox class ="example-margin" (change)="onChecking(4)" id="Movie4" >
      {{categories[4]}}
    </mat-checkbox>
    <mat-checkbox class ="example-margin" (change)="onChecking(5)" id="Movie5" >
      {{categories[5]}}
    </mat-checkbox>
    <mat-checkbox class ="example-margin" (change)="onChecking(6)" id="Movie6" >
      {{categories[6]}}
    </mat-checkbox>
  </section>